@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
html {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    min-height: 100vh;
    font-family: Varela Round, sans-serif;
    background-color: whitesmoke;
}

h1{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: 550;
    letter-spacing: 3px;
}



/* Loader */
.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
}

.loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


/* Searchbar */

.search-container {
    position: fixed;
    top: 92%;
    left: 92%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
   }
   
   .search-container:hover > .search-input {
    width: 200px;
    padding: 0 6px;
   }
   
   .search-container:hover > .search-button {
    background: white;
    color: black;
   }
   
   .search-button {
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
   }
   
   .search-btn > i {
    font-size: 30px;
   }
   
   .search-input {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
   }





/* Image Container */
.image-container {
    margin: 10px 30%;

}

.image-container img {
    width: 100%;
    margin-top: 5px;
    border-radius: 3%;
}

/* Medias Querys for large smartphones */
@media screen and (max-width: 600px){
    h1 {
        font-size: 28px;
    }
    .image-container {
        margin: 10px;
    }
    .search-container {
        margin-left: 90px;
    }
}